// Variables

$purpleHue: #6c63ff;

$mobile: 425px;

// Header

html {
  
  scroll-behavior: smooth;
  font: {
    family: sans-serif;
  }
  body {

    header {
      height: 1000px;
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      background: {
        image: url("../media/undraw_fashion_photoshoot_mtq8.png");
        repeat: no-repeat;
        position: top;
      }

      @media all and (max-width: $mobile) {
        background-position: left;
        padding-top: 0;
        height: 70vh;
      }

      .top-bar{
        background: rgba(white, .8);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 98;
        top: 0;

        .logo {

          a {
            display: flex;
            align-items: center;
            text-decoration: none;

            img {
              width: 80px;
              height: 80px;

              @media all and (max-width: $mobile) {
                width: 40px;
                height: 40px;
              }
            }

            h4 {
              color: $purpleHue;
              font: {
                family: serif;
                size: 1.5rem;
              }

              @media all and (max-width: $mobile) {
                font: {
                  size: .8rem;
                }
              }
            }
          }
        }

        nav {
          @media all and (max-width: $mobile) {
            padding: 0 15px;
          }

          a {
            padding: 3px 15px;
            text: {
              decoration: none;
              transform: uppercase;
            }
            color: $purpleHue;

            font: {
              weight: bold;
              size: 1.2rem;
            }
            &:hover {
              color: grey;
            }

            @media all and (max-width: $mobile) {
              padding: 3px 10px;
              font: {
                size:.6rem;
              }
            }
          }
        }
      }
      .hero-content {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        background: rgba(white, 0.7);
        padding: 14% 0 0 0;

        @media all and (max-width: $mobile) {
          padding: 0;
        }

        * {
          margin: 20px 0 0 7%;
        }

        h1 {
          color: $purpleHue;
          font: {
            size: 5rem;
          }

          @media all and (max-width: $mobile) {
            font: {
              size: 2rem;
            }
          }
        }

        h3 {
          font: {
            size: 3.5rem;
          }

          @media all and (max-width: $mobile) {
            font: {
              size: 1.5rem;
            }
          }
        }

        .mobile-hero-content {

          @media all and (max-width: $mobile) {
            position: relative;
            top: 120px;
          }
        }
        .book-btn {
          text-decoration: none;
          background: $purpleHue;
          color: white;
          padding: 20px;
          border-radius: 6px;
          box-shadow: 3px 3px 5px grey;
          position: relative;
          left: 2%;
          top: 60px;
          font: {
            weight: bold;
            size: 1.7rem;
          }
          &:hover {
            background: grey;
          }

          @media all and (max-width: $mobile) {
            position: relative;
            top: 165px;
            left: 0;
            padding: 15px;
            font: {
              size: 1rem;
            }
          }
        }
      }
    }

    // About

    #about {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      padding: 120px 0 60px;
      background: $purpleHue;
      border-radius: 20px;
      box-shadow: 5px 5px 5px grey;

      @media all and (max-width: $mobile) {
        padding: 20px;
        flex-direction: column;
      }

      .copy {
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;

        @media all and (max-width: $mobile) {
          width: 100%;
        }

        .abt-title {

          h3 {
            margin: 0 0 15px;
            color: white;
            font: {
              size: 4rem;
            }

            @media all and (max-width: $mobile) {
              text-align: left;
              font: {
                size: 2.5rem;
              }
            }
          }

          h4 {
            margin: 0;
            font: {
              size: 2rem;
            }

            @media all and (max-width: $mobile) {
              text-align: left;
              font: {
                size: 1.2rem;
              }
            }
            
            a {
              color: black;
              text-decoration: none;
              border-bottom: 2px solid black;
              padding-bottom: 5px;
            }
          }
        }

        p {
          color: #ddd;
          line-height: 2.5rem;
          font: {
            size: 1.8rem;
          }

          @media all and (max-width: $mobile) {
            line-height: 1.9rem;
            text-align: left;
            font: {
              size: 1.2rem;
            }
          }
        }
      }

      .bk-btn-abt {
        border: 2px solid white;
        color: white;
        width: 20%;
        padding: 8px;
        margin: 0 auto 50px;
        text-decoration: none;
        border-radius: 7px;
        font: {
          weight: bolder;
          size: 1.3rem;
        }

        &:hover {
          background: white;
          color: $purpleHue;
        }

        @media all and (max-width: $mobile) {
          width: 35%;
          margin: 0 0 30px;
          font-size: 1rem;
        }
      }

      .price-card {
        background: white;
        box-shadow: 5px 5px 10px black;
        color: black;
        border-radius: 15px;
        width: 400px;
        margin: 0 auto;
        padding: 15px;

        @media all and (max-width: $mobile) {
          width: 70%;
          margin-bottom: 40px;
        }

        h3 {
          margin: 60px auto 0;
          line-height: 3rem;
          border-bottom: 2px solid black;
          width: 70%;
          font: {
            size: 10rem;
          }

          @media all and (max-width: $mobile) {
            font-size: 5rem;
            margin: 15px auto 30px;
            line-height: 2rem;
            padding-bottom: 10px;
            width: 80%;
          }

          span {
            font: {
              size: 1.7rem;
            }

            @media all and (max-width: $mobile) {
              font-size: 1.3rem;
            }
          }
        }

        p {
          color: rgba(black, .7);
          margin: 15px auto;

          @media all and (max-width: $mobile) {
            text-align: center;
            font-size: 1rem;
            line-height: 1rem;
          }
        }

        small {
          color: red;
        }
      }

      .gallery {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @media all and (max-width: $mobile) {
          width: 100%;
        }

        img {
          width: 50%;
          filter: grayscale(.9);
          transition-duration: 500ms;

          @media all and (max-width: $mobile) {
            width: 100%;
          }

          &:hover {
            filter: grayscale(0);
            box-shadow: 5px 5px 5px black;
            transform: scale(1.6);
            position: relative;
            z-index: 2;
            transition-duration: 500ms;

            @media all and (max-width: $mobile) {
              transform: scale(1);
            }
          }
        }
      }
    }

    // Contact

    #contact {
      padding-top: 60px;
      margin-bottom: 10px;

      @media all and (max-width: $mobile) {
        padding: 15px 0;
      }

      h1 {
          text-align: center;
          margin-bottom: 4%;
          font-size: 2.8rem;
          color: $purpleHue;

          @media all and (max-width: $mobile) {
            font-size: 2rem;
            margin-bottom: 30px;
          }
      }

      .map-form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 50px;

        @media all and (max-width: $mobile) {
          flex-direction: column-reverse;
          margin-bottom: 30px;
        }

        iframe {
          width: 50%;

          @media all and (max-width: $mobile) {
            width: 100%;
            border-radius: 8px;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          width: 40%;

          @media all and (max-width: $mobile) {
            width: 100%;
            margin-bottom: 40px;
          }

          * {
            padding: 1.5%;
            margin: 2% 0;
            border-radius: 10px;
            border: 2px solid $purpleHue;
            font: {
              size: 1.3rem;
            }

            &:hover {
                border: 2px dashed $purpleHue;
            }
          }

          input:focus, textarea:focus {
            outline: none;
          }

          .submit {
              background: $purpleHue;
              color: white;
          }
        }
      } // END MAP-FORM

      .contact-icons {
        text-align: center;
        margin: 0;

        a {
          text-decoration: none;
          color: $purpleHue;
          font-size: 3rem;
          margin: 0;

          &:hover {
            color: grey;
          }

          * {
            margin: 0 .5%;
          }

          @media all and (max-width: $mobile) {
            font-size: 2rem;
          }
        }
      }
    } // END CONTACT

    // Footer

    footer {
      padding: 30px;
      text-align: center;

      @media all and (max-width: $mobile) {
        padding: 15px 0 25px;
        margin: -10px;
      }

      small {
        a {
          text-decoration: none;
          color: $purpleHue;
          font-weight: bolder;

          &:hover {
            color: darken($purpleHue, 15%);
          }

          @media all and (max-width: $mobile) {
            color: $purpleHue;}
        }
      }
    }

    // Back to top
    .back-to-top {
      position: fixed;
      z-index: 98;
      bottom: 40px;
      right: 40px;
      
      @media all and (max-width: $mobile) {
        transform: rotate(-90deg);
        right: -47px;
        bottom: 40%;
      }

      a {
        text-decoration: none;
        background: $purpleHue;
        color: white;
        font-weight: bolder;
        border-radius: 5px;
        padding: 12px;
        border: 2px solid white;

        &:hover {
          background: grey;
        }

        @media all and (max-width: $mobile) {
          opacity: 1;
          padding-top: 2px;


        }
      }
    }
  }
}
