html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}
html body header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-image: url("../media/undraw_fashion_photoshoot_mtq8.png");
  background-repeat: no-repeat;
  background-position: top;
}
html body header .top-bar {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 98;
  top: 0;
}
html body header .top-bar .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
html body header .top-bar .logo a img {
  width: 80px;
  height: 80px;
}
html body header .top-bar .logo a h4, html body header .top-bar .logo a #about .abt-title h4 a, html body #about .abt-title h4 header .top-bar .logo a a {
  color: #6c63ff;
  font-family: serif;
  font-size: 1.5rem;
}
html body header .top-bar nav a {
  padding: 3px 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #6c63ff;
  font-weight: bold;
  font-size: 1.2rem;
}
html body header .top-bar nav a:hover {
  color: grey;
}
html body header .hero-content {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  padding: 14% 0 0 0;
}
html body header .hero-content * {
  margin: 20px 0 0 7%;
}
html body header .hero-content h1 {
  color: #6c63ff;
  font-size: 5rem;
}
html body header .hero-content h3 {
  font-size: 3.5rem;
}
html body header .hero-content .book-btn {
  text-decoration: none;
  background: #6c63ff;
  color: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 3px 3px 5px grey;
  position: relative;
  left: 2%;
  top: 60px;
  font-weight: bold;
  font-size: 1.7rem;
}
html body header .hero-content .book-btn:hover {
  background: grey;
}
html body #about {
  position: relative;
  z-index: 97;
  background: #6c63ff;
  border-radius: 20px;
  padding: 60px;
}
html body #about .abt-title h3 {
  color: white;
  margin: 0 0 15px;
  font-size: 2.8rem;
}
html body #about .abt-title h4, html body #about .abt-title h4 a {
  margin: 0 0 30px;
  font-size: 1.7rem;
}
html body #about .abt-title h4 a {
  text-decoration: none;
  color: grey;
}
html body #about .abt-title h4 a:hover {
  color: white;
}
html body #about *,
html body #about *:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-size: 62.5%;
}
html body #about .imgs-text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
html body #about .imgs-text div {
  width: 40%;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
}
html body #about .imgs-text div .price {
  width: 18%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  text-align: center;
  padding: 2%;
  position: absolute;
  top: 68%;
  left: 15%;
  border: 2px solid #6c63ff;
}
html body #about .imgs-text div .price h3 {
  font-size: 5rem;
  font-weight: lighter;
  border-bottom: 2px solid black;
  display: inline-block;
  width: 55%;
  margin: 20px auto;
  line-height: 1.7rem;
  padding-bottom: 10px;
}
html body #about .imgs-text div .price h3 span {
  font-size: 1rem;
}
html body #about .imgs-text div .price small {
  font-size: 0.7rem;
  color: red;
}
html body #about .imgs-text div a {
  text-decoration: none;
  background: white;
  color: #6c63ff;
  width: 17%;
  text-align: center;
  padding: 6px 10px;
  border-radius: 6px;
  position: relative;
  top: 30px;
  left: 30px;
  font-weight: bolder;
}
html body #about .imgs-text div a:hover {
  background: grey;
}
html body #about .imgs-text .gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 55%;
}
html body #about .imgs-text .gallery img {
  width: 30%;
  transition-duration: 600ms;
}
html body #about .imgs-text .gallery img:hover {
  transform: scale(2);
  position: relative;
  z-index: 96;
  box-shadow: 5px 5px 5px black;
  transition-duration: 600ms;
}
html body #contact {
  height: 70vh;
  padding: 2%;
  margin-bottom: 1%;
}
html body #contact h1 {
  text-align: center;
  margin-bottom: 4%;
  font-size: 2.8rem;
  color: #6c63ff;
}
html body #contact .map-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2.5%;
}
html body #contact .map-form form {
  display: flex;
  flex-direction: column;
  width: 30%;
}
html body #contact .map-form form * {
  padding: 1.5%;
  margin: 2% 0;
  border-radius: 10px;
  border: 2px solid #6c63ff;
  font-size: 1.3rem;
}
html body #contact .map-form form *:hover {
  border: 2px dashed #6c63ff;
}
html body #contact .map-form form input:focus, html body #contact .map-form form textarea:focus {
  outline: none;
}
html body #contact .map-form form .submit {
  background: #6c63ff;
  color: white;
}
html body #contact .contact-icons {
  text-align: center;
}
html body #contact .contact-icons a {
  text-decoration: none;
  color: #6c63ff;
  font-size: 3rem;
}
html body #contact .contact-icons a:hover {
  color: grey;
}
html body #contact .contact-icons * {
  margin: 0 0.5%;
}
html body footer {
  padding: 30px;
  text-align: center;
  margin-top: 4%;
}
html body footer small a {
  text-decoration: none;
  color: #6c63ff;
  padding-bottom: 3px;
  border-bottom: 1px solid #6c63ff;
}
html body footer small a:hover {
  color: #2417ff;
}
html body .back-to-top {
  position: fixed;
  z-index: 98;
  bottom: 12%;
  right: 2%;
}
html body .back-to-top a {
  text-decoration: none;
  background: #6c63ff;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid white;
}
html body .back-to-top a:hover {
  background: grey;
}

/*# sourceMappingURL=main.css.map */
